body {
    background-image: url("../image/grayBckg.jpg");
    background-color: #f8f4f0;
    background-repeat: no-repeat;
    background-position: center canter;
    background-attachment: fixed;
    background-size: cover;
}